@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-family: "Roboto", sans-serif;
    --main-color: rgba(233, 80, 73, 1);
}

body {
    font-family: var(--font-family) !important;
    background: rgba(245, 247, 252, 1);
}